extends layout

block content
    .gtco-loader
    #page
      .page-inner
        #head-top(style='position: absolute; width: 100%; top: 0; ')
          .gtco-top
            .container-fluid(style='background-color:#4D4D4D;')
              .row
                .col-md-6.col-xs-6
                .col-md-6.col-xs-6.social-icons
                  ul#lang.gtco-social-top
                    li
                      a(href='en/about')
                        i
                          img(src='images/USA_30px.png', alt='')
          nav#catch.gtco-nav.sticky-banner(role='navigation')
            .gtco-container
              #nav.row
                .col-xs-12.text-center.menu-1
                  span.go-back
                    a(href='/')
                      .logo
                        img(src='images/logo.png', alt='Ghana Access', width='100%', height='100%')
                  ul
                    li(class=(title==='Accueil'?'active':''))
                      a(href='/') Accueil
                    li.has-dropdown(class=(title==='Services'?'active':''))
                      a(href='/services') Services
                      ul.dropdown
                        li
                          a(href='/services#fox-1') Conseils et Orientations Scolaires
                        li
                          a(href='/services#fox-2') Traduction Documents
                        li
                          a(href='/services#fox-3') Hébergement
                        li
                          a(href='/services#fox-4') Etablissement de Visa
                    li(class=(title==='A propos'?'active':''))
                      a(href='/about') Qui somme nous
                    li(class=(title==='Partenaires'?'active':''))
                      a(href='/partner') Partenaires
                    li(class=(title==='Contact'?'active':''))
                      a(href='/contact') Contactez Nous
        header#gtco-header.gtco-cover.gtco-cover-sm(role='banner', style='background-image: url(images/slider3.jpg)', data-stellar-background-ratio='0.5')
          .overlay
          .gtco-container
            .row.row-mt-15em
              .col-md-7.mt-text.text-left.animate-box(data-animate-effect='fadeInUp')
                h1
                  | A
                  strong  propos de nous
                h2 En vouloir en savoir plus sur nous c'est nous montrer de l'interet.
        .container-fluid
          .row
            .gtco-section.gtco-gray-bg.col-md-6(style='float:left;')
              .left
                b Ghana Access
                br
                p
                  | Ghana Access est une organisation qui aide les ressortissants non ghanéens au Ghana à s'adapter au nouvel environnement auquel ils sont confrontés et les aider à s’y intégrer sans trop de difficultés. En effet, le Ghana est un beau pays que beaucoup de gens aiment visiter. Parmi ces immigrants, on peut compter étudiants, hommes et femmes d'affaires, touristes et missionnaires. Peu importe le groupe auquel vous appartenez, les difficultés sont toujours les mêmes, bien qu'elles se manifestent à des degrés de gravité différents. Comme difficultés, nous pouvons citer le logement, le coût de la vie et la xénophobie. D’une manière générale, tous les ressortissants non ghanéens se pleignent de ces difficultés.
            .gtco-gray-bg.col-md-6(style=' float:left;')
              div
                // <img src="images/about-1.png" width="100%" height="100%" alt="Gh">
        .container-fluid
          .row
            .gtco-section.gtco-gray-bg.col-md-6(style='float:right;')
              .left
                b Notre vision
                br
                p
                  | Nous avons comme visions de vous accompagner dans votre séjour au Ghana afin que vous jouissez pleinement de votre experience. En effet c’est dans cette direction que nous nous sommes fixer pour objectif de devenir une référence en ce qui concerne l’immigration au Ghana et nous travaillons tous les jours pour venir à bout de cet objectif. Nous savons ce que cela représente d’etre un étranger dans un pays et avons pris connaissance des difficultés et défis que cela  présente ici au Ghana. Nous avons donc élaboré des approches pour chaque difficultés et nous sommes décidé à mettre ce savoir faire à la disposition de tous citoyens non-ghanéen; car à Ghana Access nous faisons de votre bien être une priorité.
            .gtco-gray-bg.col-md-6(style=' float:left;')
              div
                img(src='images/Accessgh.png', width='100%', height='100%', alt='Ghana-Access')
      .container-fluid
        .row
          .gtco-section.gtco-gray-bg.col-md-6
            .left
              b Avantage
              br
              p
                | Ghana Access présente plusieurs avantages. Parmi ces nombreux avantages nous comptons cette plateforme, les services que nous rendons et le mode de paiement. À travers cette plateforme, toutes personnes peut obtenir des informations tangibles sur leur séjour au Ghana (sans payer le moindre sous!!). De plus, nous assistons nos clients dans tous leurs nécessiter de manière générale et de manière spécique dans nos service. Nous voulons préciser qu'aucun paiement n’est exiger de nos clients tant que les services mentionnés dans nos contrats ne sont pas rendus. Cela pour vous dire que nous sommes avertis du risque d'escroqueries que de nombreux sites web présentent aujourd'hui et avons trouvé important que nos client séffectue tout paiement seulement qu’après le service soit rendu.
          .gtco-gray-bg.col-md-6(style=' float:left;')
            div
              // <img src="images/check-2.png" width="100%" height="100%" alt="Gh">
      .gtco-cover.gtco-cover-sm(style='background-image: url(images/frfr.jpg)', data-stellar-background-ratio='0.5')
        .overlay
        .gtco-container.text-center
          .display-t
            .display-tc
              h1
                | Nous sommes ce par quoi vous nous definisez le mieux
      footer