extends layout

block content
    .gtco-loader
    #page
      .page-inner
        #head-top(style='position: absolute; width: 100%; top: 0; ')
          .gtco-top
            .container-fluid(style='background-color:#4D4D4D;')
              .row
                .col-md-6.col-xs-6
                .col-md-6.col-xs-6.social-icons
                  ul#lang.gtco-social-top
                    li
                      a(href='en/services')
                        i
                          img(src='images/USA_30px.png', alt='')
          nav#catch.gtco-nav.sticky-banner(role='navigation')
            .gtco-container
              #nav.row
                .col-xs-12.text-center.menu-1
                  span.go-back
                    a(href='/')
                      .logo
                        img(src='images/logo.png', alt='Ghana Access', width='100%', height='100%')
                  ul
                    li(class=(title==='Accueil'?'active':''))
                      a(href='/') Accueil
                    li.has-dropdown(class=(title==='Services'?'active':''))
                      a(href='/services') Services
                      ul.dropdown
                        li
                          a(href='/services#fox-1') Conseils et Orientations Scolaires
                        li
                          a(href='/services#fox-2') Traduction Documents
                        li
                          a(href='/services#fox-3') Hébergement
                        li
                          a(href='/services#fox-4') Etablissement de Visa
                    li(class=(title==='A propos'?'active':''))
                      a(href='/about') Qui somme nous
                    li(class=(title==='Partenaires'?'active':''))
                      a(href='/partner') Partenaires
                    li(class=(title==='Contact'?'active':''))
                      a(href='/contact') Contactez Nous
        header#gtco-header.gtco-cover.gtco-cover-sm(role='banner', style='background-image: url(images/3_SAa.png)', data-stellar-background-ratio='0.5')
          .overlay
          .gtco-container
            .row.row-mt-15em
              .col-md-7.mt-text.text-left.animate-box(data-animate-effect='fadeInUp')
                h1
                  | Nos 
                  strong Services
                h2 Nous avons tous pour vous plaire, car votre comfort est notre preocupation.
        #fox-1.flex-section.gtco-gray-bg
          .col-1
            .text
              .row.row-pb-sm
                .col-md-12
                  h2 Conseils et Orientations Scolaires
                  p
                    | C’ est un paquet gratuit de Ghana-Access. C'est d’ailleurs le plus important de tous les services que nous offrons et nous concentrons une grande partie de nos efforts de recherche à ce sujet afin de fournir des informations exceptionnellement fiables. Nous menons des enquêtes à votre demande sans aucuns frais et vous orientons de manière spécifique dans vos inquietudes les plus privés. Nous vous faisons savoir les risques impliquant vos décisions, les résolutions légales attacher à ces décisions, et vous aidons à affiner les différentes possibilités ou options, à évaluer. Ensuite, ensemble, nous décidons sur l’option qui (parmi la liste d’options) vous favorise le plus. La raison est la suivante: lorsque plusieurs se réunissent pour un même objectif, les idées sont fusionnées afin de réduire le risque d'échec lors d’une prise de décision. En ce qui nous concerne, un comité composé de citoyens (ghanéens et non ghanéens) expérimentés travaillent avec nos clients pour les aider à prendre les meilleures décisions possibles. Cette équipe a été mis sur pied car nous savons à quel point il est important d'obtenir des informations fiables.
                  p
                    | L'information étant la variable principale dans la prise de décision, on ne peut prendre de décision que sur la base des informations dont on dispose. Par conséquent, si l'information que l'on possède n'est pas assez pertinente vis-à-vis d’une situation donnée, l’on prend toujours de mauvaises décisions. Un exemple de scénario pourrait être: «si je savais que je pourrais prendre des informations fiables sur la plateforme Ghana Access, je ne ferais pas un voyage spécial sur le Ghana juste pour collecter des informations et retourner dans mon pays pour enfin me décider si je peux m’installer ou pas au Ghana. Pour tout individu X, ce scénario présente des frais de voyage considérables seulement pour réaliser que l'on n'est pas assez préparé pour un voyage sur le Ghana. Il y a de nombreux scénarios dans lesquels, le capital est un facteur  déterminant  et c'est pourquoi nous, Ghana Access, nous sommes donné  le devoir de fournir des information exceptionnellement fiable (à aucun frais).
          .col-2.flex-img(style='background-image: url(images/img_bg_1.jpg); ')
        #fox-2.flex-section.reverse
          .col-1
            .text
              .row.row-pb-sm
                .col-md-12
                  h2 Traduction de Document
                  p
                    | La traduction du document devient vraiment critique quand on a des certifications d'un pays francophone ou d'un pays hispanophone en ce qui concerne l'Afrique. Pris en dehors du continent africain, il pourrait y avoir beaucoup d'autres certificats légaux dans des langues autres que l'anglais et c'est un gros problème si l'on a l'intention de travailler ou d'étudier ici au Ghana. Il est ensuite demandé à chaque partie prenante de traduire son document. La façon de s'y prendre pourrait être un problème, mais avec nous, ce service sera fait par les institutions juridiques. Nous aidons les parties prenantes à faire traduire leurs certifications et tout autre document personnalisé. Cela pourrait être considéré comme trivial mais peut se transformer en une vraie affaire quand elle n'est pas faite par une institution reconnue par l'état.
          .col-2.flex-img(style='background-image: url(images/Image1.png);')
        #fox-3.flex-section.gtco-gray-bg
          .col-1
            .text
              .row.row-pb-sm
                .col-md-12
                  h2 Hébergement
                  p
                    | Ici, Ghana Access, en collaboration avec ses affiliés, a mis à disposition quelques auberges, hôtels, chambres d'hôtes et maisons pour loger ses clients. Pour des raisons de sécurité et de confort, nous offrons des services d'hébergement en option à nos clients.
                  p
                    | NB: Il est important de savoir que Ghana Access ne possède aucune des structures d'hébergement mentionné plus haut, cependant, a prénégocié avec ces sociétés affiliées et ne reconnaît point ses tarifs comme tarifs officiels et ne peut donc être utilisé sans nos services.
          .col-2.flex-img(style='background-image: url(images/student-accommodation.jpg);')
        #fox-4.flex-section.reverse
          .col-1
            .text
              .row.row-pb-sm
                .col-md-12
                  h2 Etablissement de Visa
                  p
                    | Communément appelé permis de séjour, il s'agit d'un service que nous offrons car il est exigé du service d'immigration du Ghana de posséder un permis de résidence quand on demeure sur le territoire du Ghana après la période de trois mois accordée par le service d'immigration du Ghana à tous ressortissants non ghanéens. Après cette période, il est recommandé d’obtenir un permis de résidence, en absence duquel tout individu concerné sont considéré comme immigrant illégal au Ghana. Ce dernier est un délit donc peut en  résulter des problèmes de justice. Veuillez nous écrire pour avoir plus d'informations sur le permis de séjour. Une autre chose à considérer ici est le permis de travail qui est requis pour travailler au Ghana. Cependant,  contactez-nous pour plus d'informations à propos de ces visas.
          .col-2.flex-img(style='background-image: url(images/ghana-residence-permit-01.jpg);')
        #fox-5.flex-section.gtco-gray-bg
          .col-1
            .text
              .row.row-pb-sm
                .col-md-12
                  h2 Location de vehicules
                  p
                    | Tout comme l'aspect de l'hébergement, la location de voitureest un servicesupplémentaire que nous avons soigneusementexaminé et mis à la disposition de nos clients pour assurer la sécurité et le confort de nos clients. Les entreprisestravaillant en affiliation avec Ghana Access sont de confianceet ont des règlement strict, ce qui est primordiale pour la sécurité et le bien-être de nos clients.
          .col-2.flex-img(style='background-image: url(images/mediatelecom_uber_mt020218.jpg);')
        .gtco-cover.gtco-cover-sm(style='background-image: url(images/rfrf.jpg)', data-stellar-background-ratio='0.5')
          .overlay
          .gtco-container.text-center
            .display-t
              .display-tc
                h1 L'information est la variable principale dans la prise de décision!
        footer