/* CSS Document */

form{
	width: 45%;
	margin: 0 auto;
	box-shadow: 1px 2px 5px 2px gray;
	padding: 10px;
	font-family: century gothic;
	font-size: 15px;
	background-color: #f3f1f4;
}

input[type="text"],input[type="email"],input[type="tel"],#date{
	width: 99%;
	height: 40px;
	font-family: century gothic;
	font-weight: 500;
	color: #838080;
}

.select{
	width: 100%;
	height: 50px;
	font-family: century gothic;
	font-weight: 500;
	color: #838080;
}

#textarea{
	width: 99%;
	height: 90px;
	font-family: century gothic;
	font-weight: 500;
	color: #838080;
}

input[type="submit"]{
	width: 100px;
	height: 40px;
	background-color: green;
	color: #fff;
	border-radius: 5px;
	font-size: 14px;
	font-family: century gothic;
}

input[type="submit"]:hover{
	
	background-color:#fff ;
	color:green ;
	
	
	
}